.advertising {
  padding: 60px 0 100px;

  @media (max-width: $breakpoint992) {
    padding: 60px 0;
  }

  @media (max-width: $breakpoint768) {
    padding: 40px 0;
  }

  // .advertising__inner

  &__inner {
    display: grid;
    grid-template-columns: 1fr 260px;
    column-gap: 40px;

    @media (max-width: 1200px) {
      column-gap: 20px;
      grid-template-columns: 1fr 220px;
    }

    @media (max-width: $breakpoint992) {
      grid-template-columns: 1fr;
    }
  }

  // .advertising__main

  &__main {}

  // .advertising__banner

  &__banner {
    position: relative;
    padding: 50px;
    border-radius: 30px;
    background-color: var(--sky-color);
    background-image: url('../img/advertising-banner-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;


    @media (max-width:1200px) {
      padding: 30px;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .advertising__banner-top

  &__banner-top {
    margin-bottom: 40px;


    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }
  }

  // .advertising__banner-label

  &__banner-label {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    line-height: 115%;
    color: var(--blue-color);


    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .advertising__banner-title

  &__banner-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    color: var(--blue-color);

    span {
      color: var(--red-color);
    }


    @media (max-width: $breakpoint992) {
      font-size: 32px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .advertising__banner-list

  &__banner-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 434px;
    margin-bottom: 40px;


    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
      max-width: 100%;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      row-gap: 20px;
    }
  }

  // .advertising__banner-item

  &__banner-item {
    position: relative;
    padding-left: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 110%;
    color: var(--black-color);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: var(--blue-color);
    }

  }

  // .advertising__banner-form

  &__banner-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;

    @media (max-width: 1200px) {
      column-gap: 20px;
    }

    @media (max-width: $breakpoint992) {
      column-gap: 20px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
  }

  // .advertising__banner-input

  &__banner-input {
    width: 100%;
    padding: 16px;
    border-radius: 30px;
    border: 1px solid var(--grey-color);
    background-color: var(--white-color, #FFF);
    outline-color: var(--blue-color);

    font-size: 16px;
    font-weight: 300;
    line-height: 110%;
    color: var(--blue-color);

    transition: 0.1s linear;

    &:hover,
    &:active,
    &:focus {
      border-color: var(--blue-color);
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      line-height: 110%;
      color: var(--grey-color);
    }
  }

  // .advertising__banner-btn

  &__banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    border-radius: 30px;
    background-color: var(--red-color, #B8181C);
    border: 1px solid transparent;

    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;

    transition: background-color 0.2s linear, border 0.2s linear, color 0.2s linear;

    &:hover {
      border-color: var(--red-color, #B8181C);
      background-color: transparent;
      color: var(--red-color, #B8181C);
    }
  }

  // .advertising__banner-pic

  &__banner-pic {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  // .advertising__aside

  &__aside {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    height: fit-content;

    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  // .advertising__aside-list

  &__aside-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
  }

  // .advertising__aside-item

  &__aside-item {}

  // .advertising__aside-link

  &__aside-link {
    display: flex;
    align-items: center;
    column-gap: 12px;
    width: 100%;
    padding: 15px 20px;

    border-radius: 25px;
    background-color: var(--sky-color, #E6F3FF);
    border: 1px solid transparent;

    color: var(--blue-color, #153D6E);
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;

    transition: background-color 0.2s linear, border 0.2s linear;

    &:hover {
      border-color: var(--sky-color, #E6F3FF);
      background-color: transparent;
    }

    @media (max-width: 1200px) {
      padding: 10px;
      font-size: 16px;
      text-align: center;
    }
  }

  // .advertising__aside-subscription

  &__aside-subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--red-color, #B8181C);
    border: 1px solid transparent;

    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;

    transition: background-color 0.2s linear, border 0.2s linear, color 0.2s linear;

    &:hover {
      border-color: var(--red-color, #B8181C);
      background-color: transparent;
      color: var(--red-color, #B8181C);
    }

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }
}


.advertising {

  // .advertising__inner

  &__inner {}

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @media (max-width: $breakpoint992) {
      row-gap: 60px;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 40px;
    }
  }

  // .advertising__learn

  &__learn {
    padding: 50px;
    border-radius: 30px;
    background: rgba(215, 230, 247, 0.20);

    @media (max-width: $breakpoint992) {
      padding: 30px;
    }

    @media (max-width: $breakpoint768) {
      top: 20px;
    }
  }

  // .advertising__learn-title

  &__learn-title {
    margin-bottom: 40px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }
  }

  // .advertising__learn-list

  &__learn-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @media (max-width: $breakpoint992) {
      row-gap: 16px;
    }
  }

  // .advertising__learnitem

  &__learnitem {
    position: relative;
    padding-left: 25px;
    max-width: 600px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: var(--red-color);

      @media (max-width: $breakpoint992) {
        top: 4px;
      }

      @media (max-width: $breakpoint768) {
        top: 2px;
      }
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  // .advertising__course

  &__course {}

  // .advertising__course-header

  &__course-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 50px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;

      &>img {
        width: 40px;
        height: auto;
      }
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }
  }

  // .advertising__course-title

  &__course-title {
    max-width: 580px;
  }

  // .advertising__course-list

  &__course-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 5px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: 1fr;
    }
  }

  // .advertising__course-item

  &__course-item {
    display: flex;
    align-items: center;
    column-gap: 18px;
    padding: 25px 12px 25px 25px;
    border-radius: 25px;
    border: 2px solid var(--sky-color);
    background: var(--white-color, #FFF);

    &:nth-child(5) {
      grid-column: span 2;

      @media (max-width: $breakpoint992) {
        grid-column: span 1;
      }
    }

    @media (max-width: $breakpoint992) {
      padding: 16px;
    }
  }

  // .advertising__course-pic

  &__course-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--sky-color);

    @media (max-width: $breakpoint992) {
      width: 60px;
      min-width: 60px;
      height: 60px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  // .advertising__course-info

  &__course-info {}

  // .advertising__course-label

  &__course-label {
    font-size: 35px;
    font-weight: 500;
    line-height: 115%;
    color: var(--blue-color);

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 22px;
    }
  }

  // .advertising__course-descr

  &__course-descr {}

  // .advertising__course-italic

  &__course-italic {
    text-align: right;
    color: var(--Gray-4, #BDBDBD);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 110%;
  }

  // .advertising__course-application

  &__course-application {
    padding: 50px;
    margin-top: 30px;
    border-radius: 30px;
    border: 2px solid #D7E6F7;

    @media (max-width: $breakpoint992) {
      padding: 30px;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .advertising__course-application-list

  &__course-application-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 40px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  // .advertising__course-application-item

  &__course-application-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  // .advertising__course-application-text

  &__course-application-text {}

  // .advertising__course-application-link

  &__course-application-link {
    width: fit-content;
    padding: 10px 40px;
    margin: 0 auto;
    text-align: center;
  }

  // .advertising__entered

  &__entered {
    padding: 50px;
    border-radius: 30px;
    background-color: var(--sky-color);

    @media (max-width: $breakpoint992) {
      padding: 30px;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .advertising__title

  &__title {
    margin-bottom: 40px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }
  }

  // .advertising__entered-inner

  &__entered-inner {
    display: flex;
    align-items: flex-start;

    &>img {
      margin-top: -50px;

      @media (max-width: $breakpoint768) {
        margin-top: 0;
        max-width: 100%;
      }
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  // .advertising__lessons

  &__lessons {}

  // .advertising__lessons-list

  &__lessons-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 44px;

    @media (max-width: $breakpoint992) {
      column-gap: 40px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
  }

  // .advertising__lessons-item

  &__lessons-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  // .advertising__lessons-pic

  &__lessons-pic {}

  // .advertising__lessons-text

  &__lessons-text {

    span {
      font-weight: 500;
    }
  }

  // .advertising__banner--second

  &__banner--second {}

  // .advertising__dates

  &__dates {
    padding: 50px;
    border-radius: 30px;
    background-color: #F5F5F5;

    @media (max-width: $breakpoint992) {
      padding: 30px;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }

    .advertising__learnitem {
      max-width: 730px;
    }

    .advertising__learnitem::before {
      background-color: var(--blue-color);
    }

  }
}