@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.woff');
  font-weight: 200;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Light.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helveticaneuecyr-roman.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helveticaneuecyr-bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
}